@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* RESET RULES */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol{
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}

html{
    font-family: "Lato", sans-serif;
}

/* layout */
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-33{
    width: calc(100% / 3);
}

.col-100{
    width: 100%;
}

/* HEADER */

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: orangered;
    margin-bottom: 40px;
    padding: 10px;
    color: white;     
}

.main-menu{
    display: flex;
    gap: 8px;
}

/* MAIN */

.col-33 img{
    padding-right: 15px;
}

.card{
    margin-bottom: 40px;
    position: relative;
}

.sales-price{
    text-decoration: line-through;
}

.price{
    color: red;
}

.tag-sales{
    color: white;
    font-size: 14px;
    position: absolute;
    bottom: 100px;
}

.sales{
    background-color: red;
    padding: 4px 7px;
}

.information{
    background-color: green;
    padding: 4px 7px;
}

.heart{
    background-color: white;
    font-size: 30px;
    padding: 6px 14px;
    position: absolute;
    top: 10px;
    right: 15px;
}

/* FOOTER */

.footer-bar{
    background-color: #23272a;;
    margin-top: 40px;
    color: white;
    padding: 40px;
}

.container-footer{
    display: flex;
    justify-content: space-between;
       
    
}

